{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "printWidth": 110,
    "jsxSingleQuote": true,
    "quoteProps": "consistent",
    "tabWidth": 4,
    "useTabs": false,
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
